
:root {
    /*--main-color: #D7D7D7;
    --bg-main: #0E0E0E;*/
    --main-color: #628BDB;
    --bg-main: #1b1b25;
    --muted-blue: #1e233c;

    --prime: #FF6E48;
    --second: #0C1016;
}

html {
    font-family: "Lato", sans-serif;
    background: var(--bg-main);
}

.bolder {
  font-weight: 500;
}

.title {
  font-size: 110%;
  font-weight: 700;
  color: var(--main-color);
}

.text {
  /*font-family: "Courier", monospace;*/
  font-family: 'PT Mono', monospace;
}

nav {
    top: 0;
    left: 0;
    right: 0;
    margin: 0 10px;

    height: 120px;
}

h1 {
    font-size: 100%;
    line-height: 15px;
    color: var(--main-color);
    text-align: right;
    font-weight: 500;
}
h2 {
    font-size: 95%;
    line-height: 20px;
    color: var(--main-color);
}

a {
    line-height: 20px;
    font-weight: 500;
    color: var(--main-color);
}
a:hover {
    color: #D7D7D7;
    text-decoration: line-through;
}

@media only screen and (max-width: 768px) {
    .container {
        margin: 20px auto !important;
    }
    .link-container {
        padding: 0 !important;
    }
    .nav-links-header, .logo, .nav-link-container {
        margin: 0 !important;
    }
}

/* */

.container {
    width: 95%;
    max-width: 1100px;
    margin: 70px auto;
}

.text-section {
  border-left: 1px solid var(--main-color);
  padding-left: 10px;
}

/* NAVIGATION */

.logo {
    height: 50px;
    width: auto;
    margin: 0 0 70px 0;
    /* padding: 0 5px;
    border-left: 2px solid var(--main-color); */
}

.nav-links-header {
    margin: 0 0 0 20px;
    font-weight: 600;
    color: var(--main-color);
    cursor: default;
}

.nav-link-container {
    margin: 0 0 20px 20px;
}

.link-container {
    /* border-left: 2px solid #adadad; */
    padding-left: 20px;
    text-align: left !important;
}

.section-title {
    padding: 0 10px;
    font-size: 120%;
    font-weight: 700;
}

/* */

.half-row-spacer {
    height: 95px;
    width: 100%;
}

.about {
    margin: 0 auto;
    width: 300px;
}
.corner-box-about {
    height: 45px;
}
.about-text {
    padding: 15px 0;
}

.row-spacer {
    height: 200px;
    width: 100%;
}





/* WORK */

.work {
    padding: 5px;
}

.work-row {
    height: 150px;
    /*border: 1px solid red;*/
}

.work-box-3 {
    margin: 5px;
    height: 140px !important;
    width: 140px;
    background: #F5F5F5;
}

.work-box-1 {
    margin: 5px;
    height: 140px;
    width: 140px;
    background: #04FF91;
}

.work-box-2 {
    margin: 5px;
    height: 140px;
    width: 140px;
    background: #F5AC6A;
}

.work-desc-container {
    margin: 5px;
}

.work-desc-text {
  text-align: center;
}
.work-corner-box {
    height: 120px;
}

.work-info {
    width: 95%;
}

.job-desc-spacer {
    width: 100%;
    height: 10px;
}

/* OPEN SOURCE */

.open-source {
    padding: 10px;
}

.no-margin {
    margin: 0 !important;
}

.horizontal-center {
    text-align: center;
}

.left {
    text-align: left !important;
}

.footer-icon {
    width: 50px;
}
