
:root {
    /*--main-color: #D7D7D7;
    --bg-main: #0E0E0E;*/
    --main-color: #628BDB;
    --bg-main: #1b1b25;
    --muted-blue: #1e233c;

    --prime: #FF6E48;
    --second: #0C1016;
}

html {
    font-family: "Lato", sans-serif;
    background: var(--bg-main);
}

nav {
    top: 0;
    left: 0;
    right: 0;
    margin: 0 10px;

    height: 120px;
}

h1 {
    font-size: 100%;
    line-height: 15px;
    color: var(--main-color);
    text-align: right;
    font-weight: 500;
}
h2 {
    font-size: 100%;
    line-height: 20px;
    color: var(--main-color);
    text-align: center;
}

a {
    line-height: 20px;
    font-weight: 500;
    color: var(--main-color);
}
a:hover {
    color: #D7D7D7;
    text-decoration: underline;/*line-through;*/
}

button {
    width: 160px;
    margin:20px 20px 0 20px;
    background: var(--main-color);
    font-size: 100%;
    font-weight: 700;
    line-height: 20px;
    color: var(--bg-main);
    text-align: center;
    padding: 7px 20px;
    border: none;
    cursor: pointer;
}
button:hover {
    background: var(--bg-main);
    padding: 5px 18px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    cursor: pointer;
}
.small-btn {
    width: 100px !important;
    font-size: 75% !important;
    padding: 5px 15px !important;

    background: var(--bg-main);
    color: var(--main-color);
}
.small-btn:hover {
    padding: 3px 13px !important;
    background: none;
    border: 2px solid var(--bg-main);
    color: var(--bg-main);
}

@media only screen and (max-width: 768px) {
    .container {
        margin: 20px auto !important;
    }
    .link-container {
        padding: 0 !important;
    }
    .nav-links-header, .logo, .nav-link-container {
        margin: 0 !important;
    }
    .narrow-col {
        width: 100% !important;
    }
    .wide-col {
        width: 100% !important;
    }
    .relleka-landing-img {
        display: none;
    }
    .product-desc-container {
        height: 300px !important;
    }
    .mobile-corner-1 {
        border-top: 2px solid var(--main-color);
        border-left: 2px solid var(--main-color);
    }
    .mobile-corner-2 {
        border-top: 2px solid var(--main-color);
        border-right: 2px solid var(--main-color);
    }
    .mobile-corner-3 {
        border-bottom: 2px solid var(--main-color);
        border-left: 2px solid var(--main-color);
    }
    .mobile-corner-4 {
        border-bottom: 2px solid var(--main-color);
        border-right: 2px solid var(--main-color);
    }
    .work-box-1, .work-box-2, .work-box-3 {
        width: calc(100% - 10px) !important;
        height: auto;
    }
    .work-row {
        height: 310px !important;
    }
}

/* */

.container {
    width: 95%;
    max-width: 1100px;
    margin: 70px auto;
}

/* NAVIGATION */

.logo {
    height: 50px;
    width: auto;
    margin: 0 0 70px 0;
    /* padding: 0 5px;
    border-left: 2px solid var(--main-color); */
}

.nav-links-header {
    margin: 0 0 0 20px;
    font-weight: 600;
    color: var(--main-color);
    cursor: default;
}

.nav-link-container {
    margin: 0 0 20px 20px;
}

.link-container {
    /* border-left: 2px solid #adadad; */
    padding-left: 20px;
    text-align: left !important;
}

.pipe {
    line-height: 20px;
    font-weight: 500;
    color: var(--main-color);
    cursor: default;
}
.pipe:hover {
    text-decoration: none !important;
    cursor: default;
}

/* */

.section-title {
    padding: 0 10px;
    font-size: 120%;
    font-weight: 700;
    /* border-right: 2px solid var(--main-color); */
}

/* */

.half-row-spacer {
    height: 95px;
    width: 100%;
}

.about {
    margin: 0 auto;
    width: 300px;
}
.corner-box-about {
    height: 45px;
}
.about-text {
    padding: 15px 0;
}

.row-spacer {
    height: 200px;
    width: 100%;
}

.line {
    padding-top: 17px;
    border-bottom: 2px solid #2F2ED5;
}

/* PRODUCT */

.product {
    padding: 5px;
}

.narrow-col {
    width: 38%;
}

.relleka-landing-img {
    margin: 5px 5px 0 5px;
    width: calc(100% - 10px);
}

.product-desc-container {
    margin: 5px;
    height: 52%;
}

.relleka-content-container {
    width: 90%;
    max-width: 200px;
    margin: 0 auto;
}

.relleka-logo {
    padding: 0 20px;
    width: 100%;
}

.relleka-spacer {
    width: 100%;
    height: 20px;
}

.wide-col {
    width: 62%;

}

.relleka-ui-img {
    margin: 5px;
    width: calc(100% - 10px);
}

/* CORNER BOX */

.corner {
    width: 10px;
    height: 10px;
}
.corner-1 {
    border-top: 2px solid var(--main-color);
    border-left: 2px solid var(--main-color);
}
.corner-2 {
    border-top: 2px solid var(--main-color);
    border-right: 2px solid var(--main-color);
}
.corner-3 {
    border-bottom: 2px solid var(--main-color);
    border-left: 2px solid var(--main-color);
}
.corner-4 {
    border-bottom: 2px solid var(--main-color);
    border-right: 2px solid var(--main-color);
}

.mobile-corner-1 {}
.mobile-corner-2 {}
.mobile-corner-3 {}
.mobile-corner-4 {}

.cornered-container-content {
    position: relative;
    padding: 0 10px;
}

.corner-box-product {
    height: calc(100% - 40px);
}

/* WORK */

.work {
    padding: 5px;
}

.work-row {
    height: 150px;
    /*border: 1px solid red;*/
}

.work-box-3 {
    margin: 5px;
    height: 140px;
    width: 140px;
    background: #F5F5F5;
}

.work-box-1 {
    margin: 5px;
    height: 140px;
    width: 140px;
    background: #04FF91;
}

.work-box-2 {
    margin: 5px;
    height: 140px;
    width: 140px;
    background: #F5AC6A;
}

.work-desc-container {
    margin: 5px;
}

.work-corner-box {
    height: 120px;
}

.work-info {
    width: 95%;
}

.job-desc-spacer {
    width: 100%;
    height: 10px;
}

/* OPEN SOURCE */

.open-source {
    padding: 5px;
}

.os-col {

}

.os-img {
    width: calc(100% - 10px);
    height: auto;
    margin: 5px;
}

.os-img-container {
    position: relative;
}
.os-img-container .overlay {
    bottom: 5px;
}
.os-img-container:hover .overlay {
    opacity: 1;
}

.os-desc-container {
    padding: 5px;
}

/* PROJECTS */

.projects {
    padding: 5px;
}

.project-col {
    margin: 0;
    padding: 0;
}

.project-img {
    margin: 5px 5px 0 5px;
    width:  calc(100% - 10px);
}

/* MSC */

.no-margin {
    margin: 0 !important;
}

.horizontal-center {
    text-align: center;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.left {
    text-align: left !important;
}

.bolder {
    font-weight: 600;
}

.img-block-wrapper {
    position: relative;
}

.overlay {
    display: none;

    position: absolute;
    margin: 5px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 65px;
    width: calc(100% - 10px);
    transition-delay: 250ms;
    transition: opacity 0.65s linear;
    opacity: 0;

    /*background-color: var(--main-color);
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(0, 0, 0, 0.84));*/

    background: rgb(24, 24, 24);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(18, 18, 18, 0.79) 100%);
}

.tall-overlay {
    height: 80px !important;
}

.img-block-wrapper:hover .overlay {
    opacity: 1;

}

.footer-icon {
    width: 50px;
}